# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
build

# Visual studio file
*.sln
*.vcxproj
*.suo
*.filters
*.user
vc*.pdb
*.sdf
*.opensdf

# Qt-es
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile*
*-build-*

# Vim teporary files
*.swp

